#mainLogin {
    background-color: #681f84;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#imgLogin{
    height: 195px;
    width: 325px;
}

#formLogin {
    background-color: #fff;
    height: 65%;
    width: 30vw;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#tituloLogin{
    color: black;
}

.inputLogin {
    width:320px;
    display:block;  
    font-size: 22px;
    border: none;
    border-bottom: 2px solid #681F84;
    outline: none;
}